<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('fragments/header') %>
    <title>로그인 페이지</title>
</head>
<body>
    <%- include('fragments/navbar') %>
    <form class="crewForm" action="/signup" method="post" onsubmit="return loginProcess();">
        <div class="row mb-3">
            <label for="email" class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-10">
                <input type="email" class="form-control" id="email" />
            </div>
        </div>
        <div class="row mb-3">
            <label for="password" class="col-sm-2 col-form-label">Password</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" id="password" />
            </div>
        </div>
        <div class="row mb-3">
            <label for="message" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <div id="message" style="color: red;"></div>
            </div>
        </div>
        <div class="row mb-3">
            <label for="button" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <button type="button" class="btn btn-success" onClick="loginProcess()">Log In</button>
            </div>
        </div>
    </form>
    <%- include('fragments/footer') %>

    <script>
        const err = document.getElementById("message");

        const loginProcess = async () => {
            const email = document.getElementById("email").value;
            const password = document.getElementById("password").value;

            if(email === '' || password === ''){
                return (err.innerHTML = '이메일과 비밀번호를 입력하세요.');
            }

            const user = {
                email,
                password
            };
        
            try {
                const response = await axios.post('/login', user);
        
                if (response.data === email) {
                    err.innerHTML = '로그인 성공';
                    setTimeout(() => {
                        err.innerHTML = '';
                        document.location.href = '/';
                    }, 2000);
                }
            } catch (error) {
                    console.error('Error:', error);
                    err.innerHTML = error.response.data;
                    setTimeout(() => {
                    err.innerHTML = '';
                }, 2000);
            }
        } 
    </script>
</body>
</html>