<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('fragments/header') %>
    <title>글 읽기</title>
</head>
<body>
    <%- include('fragments/navbar') %>

    <div class="crewForm">
        <img src="../static/virtualLake.png" class="img-fluid" />
        <h2>해볼라고</h2>
        <span>created 2023-12-20</span>
        <span>written by Krille</span>

        <hr/>

        <div>형돈이가 랩을 한다 홍홍홍</div>
    </div>

    <%- include('fragments/footer') %>
    <%- include('fragments/footerJs') %>
</body>
</html>