<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('fragments/header') %>
    <title>글 읽기</title>
</head>
<body>
    <%- include('fragments/navbar') %>

    <div class="jumbotron jumbotron-fluid crewForm">
        <div class="container">
            <img src="../static/virtualLake.png" class="img-fluid" />

            <h1 class="display-4">해볼라고</h1>
            <div class="nav justify-content-end">
                <span>created 2023-12-20 and written by Krille</span>
            </div>
            <hr/>
            <p class="lead">형돈이가 랩을 한다 홍홍홍.</p>
        </div>
    </div>

    <%- include('fragments/footer') %>
    <%- include('fragments/footerJs') %>
</body>
</html>