<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('fragments/header') %>
    <title>회원가입 페이지</title>
</head>
<body>
    <%- include('fragments/navbar') %>
    <form class="crewForm" action="/signup" method="post" onsubmit="return validateForm()">
        <div class="row mb-3">
            <label for="inputEmail" class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-10">
                <input type="email" class="form-control" id="inputEmail3" onblur="validateEmail()">
                <div id="emailValidationMessage" style="color: red;"></div>
            </div>
        </div>
        <div class="row mb-3">
            <label for="inputNickname" class="col-sm-2 col-form-label">Nickname</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="inputNickname" onblur="validateNickname()">
                <div id="nicknameValidationMessage" style="color: red;"></div>
            </div>
        </div>
        <div class="row mb-3">
            <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" id="inputPassword3" oninput="validatePassword()">
                <div id="passwordValidationMessage" style="color: red;"></div>
            </div>
        </div>
        <div class="row mb-3">
            <label for="inputPasswordConfirm" class="col-sm-2 col-form-label">Password Confirm</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" id="inputPassword3" oninput="validatePassword()">
                <div id="passwordValidationMessage" style="color: red;"></div>
            </div>
        </div>
        <div class="row mb-3">
            <label for="inputPhoneNumber" class="col-sm-2 col-form-label">Phone Number</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="inputPhoneNumber" oninput="validatePhoneNumber()">
                <div id="phoneNumberValidationMessage" style="color: red;"></div>
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Sign Up</button>
    </form>
    <%- include('fragments/footer') %>

    <script>
  
    </script>
</body>
</html>