<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('fragments/header') %>
    <title>글 쓰기</title>
</head>
<body>
    <%- include('fragments/navbar') %>

    <%- include('fragments/footer') %>
    <%- include('fragments/footerJs') %>
</body>
</html>