<div style=" font-size: smaller; height: 70px; text-align: center;">
    <span>
        <br />
        <p>
            &nbsp; Copyright@ 2023 caffe. All Rights Reserved.
        </p>
    </span>
</div>